<div class="container-fluid">
    <div class="row">
        <h1>
            Comment
        </h1>
    </div>
    <div class="row">
        <p class="AP">
            <a href="#" class="all">All(1) </a> | <a href="#" class="active"> Pending(0)</a>
            | <a href="#" class="active"> Approved(1)</a>
            | <a href="#" class="active"> Spam(0)</a>
            | <a href="#" class="active"> Trash(0)</a>
        </p>
        <form class="navbar-form search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="row">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bulk Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Apply</button>


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All dates <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories      <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Filter</button>
        <p class="item">1 item</p>

    </div>
    <div class="row">
        <table class="table table-hover table-striped">
            <tr>
                <th><input type="checkbox"> Author</input></th>
                <th>Comment</th>
                <th>In Resonse To</th>
                <th>Submitted On</th>


            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                    <img alt="" src="http://1.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=32&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=64&amp;d=mm&amp;r=g 2x" class="avatar avatar-32 photo" height="32" width="32">
                    <b> A WordPress Commenter</b>
                    <br>wordress.org
                    <br>wapuu@wordress.example
                </td>
                <td>
                    <div class="tooltip2">
                        <p>
                            Hi,this is a comment.
                            <br>To get started with moderating, editing, and deleting comment, please visit the Comments screen in the dashboard.
                            <br>Commenter avatars come from Gravatar.
                        </p>
                        <div class="tooltiptext" style="width:390px;">
                            <a href="#">Unappove</a> | <a href="#">Reply</a> | <a href="#">Edit</a> | <a href="#">Quick Edit</a> | <a href="#">Spam</a> | <a href="#">Trash</a>
                        </div>

                    </div>
                </td>
                <td>
                    Chào tất cả mọi người
                    <br>View Post
                    <br>
                    <i class="fa fa-comment fa-2x" id="span" aria-hidden="true"></i><p class="comment">1</p></th>
                <td>Published 2016/09/01</td>


            </tr>

            <tr>
                <th><input type="checkbox"> Title</input></th>
                <th>Author</th>
                <th><span class="glyphicon glyphicon-comment" /></th>
                <th>Date</th>


            </tr>
        </table>
    </div>
    <div class="row">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bulk Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Apply</button>
        <p class="item">1 item</p>
    </div>

</div>