<div class="container-fluid">
    <div class="row">
        <h1>
            Posts
            <button class="btn btn-default btn-sm">Add New</button>
        </h1>
    </div>
    <div class="row">
        <p class="AP"> <a href="#" class="all">All(1) </a> | <a href="#" class="active"> Published(1)</a> </p>
        <form class="navbar-form search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="row">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bulk Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Apply</button>


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All dates <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories      <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Filter</button>
        <p class="item">1 item</p>

    </div>
    <div class="row">
        <table class="table table-hover table-striped">
            <tr>
                <th><input type="checkbox"></th>
                <th>Title</input></th>
                <th>Author</th>
                <th>Categories</th>
                <th>Tags</th>
                <th><span class="glyphicon glyphicon-comment" /></th>
                <th>Date</th>


            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <div class="tooltip2">
                        <p>
                            Chào tất cả mọi người
                        </p>
                        <div class="tooltiptext">
                            <a href="#">Edit</a> | <a href="#">Quick Edit</a> | <a href="#">Trash</a> | <a href="#">View</a>
                        </div>
                    </div>
                </td>
                <td>Thắng lê</td>
                <td>Chưa phân loại</td>
                <td>-</td>
                <td><i class="fa fa-comment fa-2x" id="span" aria-hidden="true"></i><p class="comment">1</p></td>
                <td>Published 2016/09/01</td>


            </tr>
            <tr>
                <th><input type="checkbox"></th>
                <th>Title</input></th>
                <th>Author</th>
                <th>Categories</th>
                <th>Tags</th>
                <th><span class="glyphicon glyphicon-comment" /></th>
                <th>Date</th>


            </tr>
        </table>
    </div>
    <div class="row">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bulk Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

        </div>
        <button class="btn btn-default">Apply</button>
        <p class="item">1 item</p>
    </div>

</div>